name: Lint

on:
  push: { }
  pull_request: { }

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.3"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.4

      - name: Run verify and build
        run: make all
